body{
  margin:0;
  font-family: Arial;
  background:black;
  color:white;
}

/* HEADER */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

.welcome{
  color:#aaa;
  font-size:14px;
  margin:0;
}

#username{
  margin:0;
  color:red;
}

.wallet-box{
  background:red;
  padding:10px 15px;
  border-radius:10px;
  font-weight:bold;
}

/* INFO BAR */
.info{
  background:#2b0050;
  margin:10px;
  padding:12px;
  border-radius:10px;
}

/* GAMES GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 in one row */
  gap: 10px;
  padding: 10px;
}

.game-card {
  width: 100%;
  height: 120px; /* 👈 size control */
  border-radius: 10px;
  overflow: hidden;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 👈 IMPORTANT */
}


/* REFER */
.refer img{
  width:90%;
  margin:20px auto;
  display:block;
  border-radius:15px;
}

/* BOTTOM NAV */
.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#111;
  padding:10px 0;
}

.bottom-nav div{
  text-align:center;
  font-size:14px;
  cursor:pointer;
}
