body{
  margin:0;
  background:#000;
  font-family:Arial;
  color:#fff;
}

/* 🔥 PROFILE CARD */
.profile-card{
  margin:20px;
  padding:20px;
  border-radius:20px;
  background:linear-gradient(145deg,#0a0a0a,#111);
  border:2px solid red;
  box-shadow:0 0 25px red;
  text-align:center;
}

.profile-card h2{
  color:red;
  margin-bottom:10px;
}

.profile-card p{
  margin:6px 0;
  color:#ccc;
}

/* 💰 COINS */
.coins-box{
  margin-top:15px;
  padding:10px;
  border-radius:10px;
  background:#111;
  border:1px solid red;
  display:inline-block;
  box-shadow:0 0 10px red;
}

/* 🔥 MENU */
.menu{
  padding:10px 20px;
}

/* 🔥 BUTTON */
.menu-btn{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px;
  margin-bottom:12px;
  border-radius:15px;
  background:#111;
  border:1px solid #222;
  cursor:pointer;
  transition:0.3s;
}

.menu-btn:hover{
  border:1px solid red;
  box-shadow:0 0 10px red;
  transform:scale(1.02);
}

/* LEFT */
.menu-left{
  display:flex;
  align-items:center;
  gap:12px;
}

.menu-left img{
  width:40px;
  height:40px;
}

/* TEXT */
.menu-text h3{
  margin:0;
  font-size:16px;
}

.menu-text p{
  margin:0;
  font-size:12px;
  color:#888;
}

/* ARROW */
.arrow{
  color:red;
  font-size:20px;
}

/* BACK BUTTON */
.back{
  margin:20px;
  padding:12px;
  background:red;
  border:none;
  border-radius:10px;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.back:hover{
  box-shadow:0 0 10px red;
}
