body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle, #0a0a0a, #1a0033);
  color: white;
  padding: 20px;
}

/* TITLE /
.title {
  text-align: center;
  color: cyan;
  text-shadow: 0 0 10px cyan;
}

/ BALANCE /
.balance-box {
  background: #111;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px purple;
  margin-top: 20px;
}

.balance-box h2 {
  font-size: 40px;
}

/ GRID /
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 25px;
}

/ BOX /
.box {
  background: #1a0033;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 15px purple;
  transition: 0.3s;
}

.box h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

/ HOVER EFFECT 🔥 /
.box:hover {
  transform: scale(1.07);
  box-shadow: 0 0 25px cyan;
}

/ CLICK EFFECT /
.box:active {
  transform: scale(0.95);
}

/ LEVEL /
.level-box {
  margin-top: 25px;
}

.bar {
  height: 10px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, cyan, purple);
}

/ HISTORY */
.history {
  margin-top: 30px;
}

.history h3 {
  color: cyan;
}

#transactions div {
  background: #1a0033;
  padding: 10px;
  margin-top: 8px;
  border-radius: 10px;
}
