body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0a001a, #1a0033);
  color: white;
  text-align: center;
}

/* TOP CARD /
.top-card {
  margin: 20px;
  padding: 25px;
  border-radius: 20px;
  background: #120022;
  box-shadow: 0 0 25px cyan;
}

.top-card h1 {
  color: cyan;
  text-shadow: 0 0 15px cyan;
}

grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  padding: 20px;
}

/* BUTTON BASE /
.card-btn {
  background: #140028;
  border: none;
  border-radius: 18px;
  padding: 22px 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;

  / glow /
  box-shadow: 0 0 15px cyan;
}

/ ICON /
.icon {
  font-size: 28px;
  margin-bottom: 8px;
}

/ HOVER /
.card-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px cyan, 0 0 40px cyan;
}

/ CLICK EFFECT 🔥 /
.card-btn:active {
  transform: scale(0.95);
}

/ COLORS */
.deposit {
  box-shadow: 0 0 15px #00ffcc;
}

.withdraw {
  box-shadow: 0 0 15px #ff4d4d;
}

.reward {
  box-shadow: 0 0 15px gold;
}

.stats {
  box-shadow: 0 0 15px #00ccff;
}

/ TRANSACTION CARD */
.card {
  margin: 20px;
  padding: 15px;
  background: #120022;
  border-radius: 15px;
  box-shadow: 0 0 10px purple;
}
