body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0a0a0a, #1a0033);
  color: white;
}

.wallet {
  padding: 20px;
}

/* HEADER /
.header {
  text-align: center;
  color: cyan;
}

/ COINS BOX /
.coins-box {
  background: #111;
  margin-top: 20px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px purple;
}

.coins-box h1 {
  font-size: 40px;
  margin: 10px 0;
}

/ BUTTONS /
.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: purple;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.actions button:hover {
  background: cyan;
  color: black;
}

/ HISTORY */
.history {
  margin-top: 30px;
}

.history h3 {
  color: cyan;
}

#historyList {
  margin-top: 10px;
}

.history-card {
  background: #1a0033;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
