body {
  background: #0f001f;
  color: white;
  text-align: center;
  font-family: Arial;
}

.box {
  margin-top: 50px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 80%;
  border-radius: 10px;
  border: none;
}
.btn {
  background: #0ff;
  color: black;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}

.btn:active {
  transform: scale(0.95);
}
